#root {
  max-width: 1280px;
  margin: 0 auto;
  
  text-align: center;
}

.bi-4-square{
  font-size: 100px;
}

.kkk{
  font-size: 30px;
  color: red;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
